::-webkit-scrollbar{width: 9px;}

::-webkit-scrollbar-thumb{background-color:rgb(116, 139, 215); border-radius: 0;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(103, 127, 207);}

::-webkit-scrollbar-track{background-color:rgb(237, 237, 237);}
.docs-nav::-webkit-scrollbar {
    width: 0px;
}
.nav-project.nav-project-discord.active {
    padding: 15px 0px 15px 0px;
}
.nav-project.nav-project-discord {
    line-height: 15px;
}
.nav-project {
    padding: 15px 20px 15px 27px;
    text-align: center;
    transition: .1s all linear;
}
.nav-project-discord.active, .nav-project-discord-pservers.active {
    background: #748bd7 !important;
    color: #fff;
}
.nav-project:hover {
    background-color: rgba(116,139,215,0.2);
}
.hero, .docs-section-title {
    background: url(../assets/bg.svg);
	background-size: 180px;
}
.docs-section-title {
    border: 1px solid rgb(116, 139, 215);
}
.logo-container {
    float: left;
}
.logo-class {
    padding: 15px 0px 15px 0px;
    text-align: center;
    display: block;
    line-height: 30px;
    float: left;
    position: relative;
    text-decoration: none;
    color: #fff;
    width: 155px;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(34,34,34,0.3);
}
.hero-discord {
    background: url(../assets/custom-logo.png);
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-size: cover;
    background-position: 25% 0;
}
.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.center, .center-align {
    text-align: center;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.card .card-content {
    text-align: center;
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
.white-text {
    color: #fff !important;
}
.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
}
.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
}
.theme-blue {
    background-color: #748bd7;
}
@media only screen and (min-width: 601px) {
.row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}
}
.white {
    background-color: #fff !important;
}
.card-action>ul>li {
    list-style-type: none;
}
.card-list {
    font-size: 21px;
    line-height: 35px;
}
.card-ul {
    padding: 0;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 0;
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #657ac1;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
.btn:hover, .btn-large:hover {
    background-color: #566aad;
}
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.italic {
    font-style: italic;
}
.builds {
    max-width: 950px;
}
ul.tab {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background: #647dd0;
    width: 50%;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: -10px;
}

/* Float the list items side by side */
ul.tab li {display: inline;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover, .staff-tab-active {
    border-bottom: 2px solid;
}
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect .3s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
   
.tablinks {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    outline: none !important;
}
.index-tab {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background: #647dd0;
    width: 70%;
    margin: 0 auto;
    border-radius: 3px;
    float: right;
    margin-top: -53px;
    margin-right: -120px;
}
.index-tab li {
    display: inline;
}
.index-tab li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 2px solid transparent;
}

/* Change background color of links on hover */
.index-tab li a:hover, .staff-tab-active {
    border-bottom: 2px solid #fff !important;
}
.index-title-tab {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(34,34,34,0.5);
}
.discord-avatar {
    border-radius: 500px;
    border: 2px solid #fff;
    height: 10%;
    width: 10%;
    margin-bottom: -8px;
}
.role-name {
    color: #fff;
    text-transform: uppercase;
}
.card-footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.theme-developer {
    background-color: #666B6B !important;
}
.theme-admin {
    background-color: #B1CBCC !important;
}
.theme-moderator {
    background-color: #DB3819 !important;
}
.theme-support {
    background-color: #D534F3 !important;
}
.theme-owner {
    background-color: #e81c4f !important;
}
.theme-core {
    background-color: #748bd7 !important;
}
.theme-ambassador {
    background-color: #D413AE !important;
}
.theme-supervisor {
    background-color: #AD1616 !important;
}
.theme-trainer {
    background-color: #9115A8 !important;
}
.theme-social-beast {
    background-color: #246ECC !important;
}
.theme-event-coordinator {
    background-color: #18A812 !important;
}
.theme-server-geek {
    background-color: #907197 !important;
}
.theme-event-staff {
    background-color: #00CC00 !important;
}
.discord-content {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect .3s;
}
.about-container {
    padding: 40px 20px;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
}
.row {
    max-width: 68.75em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
@media only screen and (min-width: 48em) {
.row .large-12 {
    position: relative;
    width: 100%;
}
}
.column.small-centered, .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.row .column, .row .columns {
    position: relative;
    padding-left: .9375em;
    padding-right: .9375em;
    float: left;
}
section.headline {
    margin: 1.625em 0 3.375em 0;
    text-align: center;
}
section {
    position: relative;
    z-index: 2;
}
section.headline h2 {
    color: #58595b;
    margin-bottom: .9375em;
}
.row:after {
    clear: both;
}
.row .row:before, .row .row:after {
    content: " ";
    display: table;
}
@media only screen and (min-width: 48em) {
.row .large-3 {
    position: relative;
    width: 25%;
}
}
section.about .team .avatar {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
@media only screen and (min-width: 48em) {
.row .large-9 {
    position: relative;
    width: 75%;
}
}
section.about .team .name {
    font-size: 1.25em;
    line-height: 30px;
}
section.about .team .title {
    font-size: 1em;
}
section.about .team .bio {
    font-size: 1em;
    line-height: 30px;
    margin: 15px 0 0 0;
}
.rounded-ava {
    border-radius: 500px;
}
.about-container {
    color: #58595b;
    font-family: "museo-sans-rounded",sans-serif;
}
[class*="column"] + [class*="column"]:last-child {
    float: right;
}
@media only screen and (min-width: 48em) {
.pull-3 {
    position: relative;
    right: 25%;
    left: auto;
}
}
.text-right {
    text-align: right !important;
}
@media only screen and (min-width: 48em) {
.push-9 {
    position: relative;
    left: 75%;
    right: auto;
}
}
section.about .team > .row {
    text-align: left;
    margin: 0 0 80px 0;
}
.card-staff {
    max-height: 22px;
    min-height: 220px;
}
.staff-builds {
    max-width: 1100px;
}
.staff-builds {
    padding: 40px 20px;
    overflow: hidden;
    margin: 0 auto;
}
.sc {
    width: 33% !important;
}
.loading-content {
    padding: 100px;
    margin: initial;
    margin-left: 35%;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    h2 {
    font-size: 75px;
}
    .subheader {
    font-size: 40px;
}
    .sc {
    width: 75% !important;
    margin-left: 12% !important;
}
    .card .card-action {
    font-size: 38px;
}
    .card-staff {
    max-height: 500px;
    min-height: 500px;
}
    .card-title {
    font-size: 45px;
}
    footer {
    font-size: 40px;
}
    .row .col.m6 {
    width: 100%;
}
}
img {
    width: 100%;
}
.loading-content {
	width: 800px;
	height: 600px;
	background: #fff;
	border-radius: 3px;
	border: 20px white solid;
	position: relative;
    margin: 0 auto;
}

.bb8 {
	width: 220px;
	height: 220px;
	position: absolute;
	top: 222px;
	left: 180px;
}

.bb8-body {
	width: 220px;
	height: 220px;
	background: #f3f3f3;
	position: absolute;
	border-radius: 50%;
	border: solid 8px #244356;
	overflow: hidden;
	animation: spin 1.5s linear infinite;
}

.circle {
	width: 120px;
	height: 120px;
	border: 8px solid #244356;
	background-color: #FDC23E;
	border-radius: 50%;
	position: absolute;
}

.circle:after {
	content: '';
	display: block;
	border: 8px solid #244356;
	background: #EBF2FA;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 35%;
	width: 35%;
}

.circle-1 {
	top: 10px;
	left: -30px;
}

.circle-2 {
	top: 123px;
	left: 80px;
}

.circle-3 {
	height: 300px;
	width: 300px;
	left: 120px;
	top: -180px;
}

.dot {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: #244356;
	position: absolute;
}

.dot-1 {
	top: 79px;
	left: 113px;
}

.dot-2 {
	top: 145px;
	left: 40px;
}

.line {
	position: absolute;
	height: 8px;
	width: 100px;
	background: #244356;
}

.line-1 {
	transform: rotate(40deg);
	top: 40px;
	left: -70px;
}

.line-2 {
	transform: rotate(160deg);
	top: -45px;
	left: -60px;
}

.line-3 {
	transform: rotate(-60deg);
	top: 25px;
	left: 10px;
}

.body-shadow-crop {
	width: 220px;
	height: 220px;
	position: absolute;
	border-radius: 50%;
	border: solid 8px #244356;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}

.body-shadow {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
	left: -50px;
	top: -20px;
}

.bb8-head {
	width: 160px;
	height: 160px;
	position: absolute;
	top: -60px;
	left: -30px;
	transform: rotate(-30deg);
}

.head-top {
	width: 160px;
	height: 160px;
	background: #f3f3f3;
	border: solid 8px #244356;
	position: absolute;
	border-radius: 50%;
	box-shadow: -10px 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
}

.lens {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: solid 8px #244356;
	background: #295A6D;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -28px;
	overflow: hidden;
}

.lens:before, .lens:after {
	content: '';
	display: block;
	width: 6px;
	height: 70px;
	background: #2A6B80;
	position: absolute;
	left: 10px;
	top: -20px;
	transform: rotate(40deg);
}

.lens:after {
	width: 10px;
	left: 25px;
	top: -10px;
}

.freckle {
	height: 13px;
	width: 13px;
	border-radius: 50%;
	background: #244356;
	top: 60px;
	left: 120px;
	position: absolute;
}

.head-top-crop {
	height: 50%;
	overflow: hidden;
	position: relative;
}

.head-bottom {
	position: absolute;
	width: 100%;
	top: 80px;
}

.head-bottom-base,
.head-side-1,
.head-side-2 {
	border-bottom: 8px solid #244356;
	background: #cecece;
	height: 20px;
	position: absolute;
}

.head-bottom-base {
	width: 78%;
	left: 11%;
}

.head-side-1 {
	width: 30px;
	transform: rotate(40deg);
	transform-origin: bottom left;
	top: -16px;
	left: -3px;
	border-radius: 0px 0px 8px 8px;
}

.head-side-2 {
	width: 30px;
	transform: rotate(-40deg);
	transform-origin: bottom right;
	top: -16px;
	right: -3px;
	border-radius: 0px 0px 8px 8px;
}

.speedlines > div {
	height: 8px;
	width: 55px;
	background: #244356;
	border-radius: 8px;
	position: absolute;
	left: 120px;
}

.speedlines > div.tail:after {
	content: '';
	display: block;
	height: 8px;
	width: 20px;
	border-radius: 8px;
	background: #244356;
	position: absolute;
	left: 100%;
	margin-left: 5px;
}

.speedlines > div.one {
	top: -60px;
	left: 53px;
}

.speedlines > div.two {
	top: -21px;
	left: 113px;
}

.speedlines > div.three {
	top: -10px;
	left: 103px;
	width: 30px;
}

.speedlines > div.four {
	top: 121px;
	left: 203px;
	width: 30px;
}

.speedlines > div.five {
	top: 141px;
	left: 218px;
	width: 50px;
}

.sparkles > div {
	width: 30px;
	height: 30px;
	position: absolute;
}

.sparkles > div:before, .sparkles > div:after {
	content: '';
	display: block;
	width: 40%;
	height: 100%;
	border-radius: 20px;
	background: #FF7761;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.sparkles > div:after {
	transform: translate(-50%, -50%) rotate(90deg);
}

.sparkles > div.blue:before, .sparkles > div.blue:after {
	background: #449BAA;
}

.sparkles > div.orange:before, .sparkles > div.orange:after {
	background: #FDC23E;
}

.sparkles > div.med {
	transform: scale(0.6);
}

.sparkles > div.small {
	transform: scale(0.4);
}

.sparkles > div.one {
	top: -53px;
	left: 140px;
}

.sparkles > div.two {
	top: -46px;
	left: 210px;
}

.sparkles > div.three {
	top: -6px;
	left: 186px;
}

.sparkles > div.four {
	top: -16px;
	left: 280px;
}

.sparkles > div.five {
	top: 44px;
	left: 230px;
}

.sparkles > div.six {
	top: 94px;
	left: 240px;
}

.sparkles > div.seven {
	top: 154px;
	left: 216px;
}

.sparkles > div.eight {
	top: 187px;
	left: 185px;
}

.sparkles > div.nine {
	top: 63px;
	left: 325px;
}

.sparkles > div.ten {
	top: 124px;
	left: 315px;
}

.sparkles > div.eleven {
	top: 161px;
	left: 294px;
}

.sparkles > div.twelve {
	top: 27px;
	left: 366px;
}

.sparkles > div.thirteen {
	top: 37px;
	left: 415px;
}

.sparkles > div.fourteen {
	top: 87px;
	left: 385px;
}

.sparkles > div.fifteen {
	top: 137px;
	left: 378px;
}

.sparkles > div.sixteen {
	top: 97px;
	left: 455px;
}

.sparkles > div.pulse {
	animation: pulse 1s linear infinite;
}

.sparkles > div.pulse-1 {
	animation: pulse 1s 300ms linear infinite;
}

.sparkles > div.pulse-2 {
	animation: pulse 1s 600ms linear infinite;
}

.sparkles > div.pulse-3 {
	animation: pulse 1s 900ms linear infinite;
}

.ground > div {
	height: 8px;
	width: 80px;
	background: #244356;
	position: absolute;
	top: 212px;
	left: -90px;
	border-radius: 8px;
}

.ground > div.one .bump {
	left: 40px;
}

.ground > div.two {
	width: 25px;
	left: -1px;
}

.ground > div.three {
	width: 300px;
	left: 34px;
}

.ground > div.four {
	width: 90px;
	left: 346px;
}

.ground > div.four .bump {
	left: 10px;
}

.ground > div.five {
	width: 20px;
	left: 450px;
}

.ground > div.six {
	width: 80px;
	left: 11px;
	top: 255px;
}

.ground > div.six .bump {
	left: 10px;
}

.ground > div.seven {
	width: 127px;
	left: 171px;
	top: 255px;
}

.ground > div.seven .bump {
	left: 60px;
}

.ground > div.eight {
	width: 87px;
	left: 71px;
	top: 295px;
}

.ground > div.eight .bump {
	left: 30px;
}

.ground > div .bump {
	height: 15px;
	width: 30px;
	position: absolute;
	top: -7px;
	overflow: hidden;
	animation: move 0.5s linear infinite;
}

.ground > div .bump.move-1 {
	animation: move 0.5s 350ms linear infinite;
}

.ground > div .bump.move-2 {
	animation: move 0.5s 700ms linear infinite;
}

.ground > div .bump:after {
	content: '';
	display: block;
	height: 30px;
	width: 30px;
	border: 8px solid #244356;
	border-radius: 50%;
	background: #F5FAFC;
	box-sizing: border-box;
}

@keyframes spin {
	0% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	90% {
		transform: scale(0.3);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes move {
	0% {
		left: 5%;
		transform: scale(0);
	}

	10% {
		transform: scale(1);
	}

	90% {
		transform: scale(1);
	}

	100% {
		left: 55%;
		transform: scale(0);
	}
}
